In [1]:
import pandas as pd
import numpy as np

In [3]:
traffic_incidents = pd.read_csv("Traffic_Incidents.csv")
traffic_incidents['START_DT'] = pd.to_datetime(traffic_incidents['START_DT'])
traffic_incidents_2018 = traffic_incidents.loc[traffic_incidents["START_DT"].dt.year == 2018, :]

traffic_incidents_2018 = traffic_incidents_2018.rename(columns = {'START_DT' : 'Date/Time'}) 

weather_2018 = pd.read_csv("https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=50430&Year=2018&Month=1&Day=1&timeframe=2&submit=Download+Data")
weather_vis_2018 = pd.read_csv("https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=50430&Year=2018&Month=1&Day=1&timeframe=1&submit=Download+Data")

weather_2018 = weather_2018[['Date/Time','Max Temp (Â°C)', 'Min Temp (Â°C)', 'Mean Temp (Â°C)']]

weather_vis_2018 = weather_vis_2018[['Date/Time', 'Temp (Â°C)', 'Visibility (km)', 'Weather']]
display(traffic_incidents_2018, weather_2018, weather_vis_2018)

,INCIDENT INFO,DESCRIPTION,Date/Time,MODIFIED_DT,QUADRANT,Longitude,Latitude,location,Count,id
875,Southbound Deerfoot Trail and 16 Avenue NE,Multi-vehicle incident.,2018-05-07 18:30:02,05/07/2018 07:07:04 PM,NE,-114.028193,51.065699,"(51.06569942197, -114.028192583328)",1,2018-05-07T17:30:0251.0656994219703-114.028192...
2169,36 Avenue and Burnsland Road SE,Two vehicle incident.,2018-05-25 14:53:33,05/25/2018 03:31:13 PM,SE,-114.059276,51.021205,"(51.021204781033, -114.059276077804)",1,2018052514533351.0212047810334-114.059276077804
3262,Falconridge Boulevard at Castleridge Boulevard NE,Two vehicle incident.,2018-05-25 15:29:49,05/25/2018 04:27:18 PM,NE,-113.958764,51.099956,"(51.099956277275, -113.958763979051)",1,2018052515294951.0999562772749-113.958763979051
4559,Southbound Deerfoot Trail and 16 Avenue NE,Multi-vehicle incident.,2018-05-07 18:30:02,05/07/2018 06:31:50 PM,NE,-114.028183,51.065739,"(51.065739428335, -114.028183476698)",1,2018-05-07T17:30:0251.0657394283348-114.028183...
4695,Spruce Meadows Trail and Macleod Trail SE,Two vehicle incident.,2018-05-07 19:33:14,05/07/2018 07:44:52 PM,SE,-114.061310,50.892629,"(50.892628633145, -114.06131023126)",1,2018-05-07T18:33:1450.8926286331446-114.061310...
...,...,...,...,...,...,...,...,...,...,...
17407,Westbound 16 Avenue approaching Deerfoot Trail NE,Two vehicle incident. Blocking the left lane.,2018-12-31 17:47:41,12/31/2018 05:49:08 PM,NE,-114.020057,51.067053,"(51.067052792253, -114.020056658954)",1,2018123117474151.0670527922526-114.020056658954
17408,Southbound Crowchild Trail at Kensington Road NW,Two vehicle incident. Blocking multiple lanes,2018-12-31 17:59:28,12/31/2018 06:16:01 PM,NW,-114.118501,51.052492,"(51.052492333505, -114.11850138363)",1,2018123117592851.0524923335053-114.11850138363
17409,52 Street and 5 Avenue SE,Multi-vehicle incident.,2018-12-31 18:42:53,12/31/2018 06:43:50 PM,SE,-113.956571,51.049133,"(51.049133273898, -113.956570563768)",1,2018123118425351.049133273898-113.956570563768
17410,Eastbound Memorial Drive at 8 Street NW,Two vehicle incident.,2018-12-31 20:00:47,12/31/2018 08:02:03 PM,NW,-114.079493,51.054765,"(51.05476543077, -114.079492649993)",1,2018123120004751.0547654307696-114.079492649993
17411,5 Avenue and 6 Street SW,Two vehicle incident.,2018-12-31 20:55:03,12/31/2018 08:55:59 PM,SW,-114.076108,51.048764,"(51.048763537207, -114.076107590207)",1,2018123120550351.048763537207-114.076107590207

      Date/Time  Max Temp (Â°C)  Min Temp (Â°C)  Mean Temp (Â°C)
0    2018-01-01           -1.3          -30.2           -15.8
1    2018-01-02            1.7          -10.6            -4.5
2    2018-01-03            5.5          -10.4            -2.5
3    2018-01-04            2.9          -12.7            -4.9
4    2018-01-05            9.2          -11.8            -1.3
..          ...            ...            ...             ...
360  2018-12-27           -4.6          -10.0            -7.3
361  2018-12-28            1.8          -13.0            -5.6
362  2018-12-29            9.1           -3.9             2.6
363  2018-12-30            4.0          -13.7            -4.9
364  2018-12-31           -8.0          -14.7           -11.4

[365 rows x 4 columns]

            Date/Time  Temp (Â°C)  Visibility (km)        Weather
0    2018-01-01 00:00      -28.1             24.1            NaN
1    2018-01-01 01:00      -28.6             24.1            NaN
2    2018-01-01 02:00      -29.1             24.1   Mainly Clear
3    2018-01-01 03:00      -30.0             24.1            NaN
4    2018-01-01 04:00      -27.6             24.1            NaN
..                ...        ...              ...            ...
739  2018-01-31 19:00      -18.2             24.1            NaN
740  2018-01-31 20:00      -18.2             14.5         Cloudy
741  2018-01-31 21:00      -18.0             16.1            NaN
742  2018-01-31 22:00      -18.3             16.1            NaN
743  2018-01-31 23:00      -17.9             16.1  Mostly Cloudy

[744 rows x 4 columns]

In [54]:
# df_combined = pd.concat([traffic_incidents_2018, weather_2018], join = "outer")
# df_combined.head(10)

,INCIDENT INFO,DESCRIPTION,Date/Time,MODIFIED_DT,QUADRANT,Longitude,Latitude,location,Count,id,Max Temp (Â°C),Min Temp (Â°C),Mean Temp (Â°C)
7632,5 Avenue and 6 Street SW,Two vehicle incident.,2018-12-31 20:55:03,12/31/2018 08:55:59 PM,SW,-114.076108,51.048764,"(51.048763537207, -114.076107590207)",1.0,2018123120550351.048763537207-114.076107590207,NaN,NaN,NaN
7633,Eastbound Memorial Drive at 8 Street NW,Two vehicle incident.,2018-12-31 20:00:47,12/31/2018 08:02:03 PM,NW,-114.079493,51.054765,"(51.05476543077, -114.079492649993)",1.0,2018123120004751.0547654307696-114.079492649993,NaN,NaN,NaN
7634,52 Street and 5 Avenue SE,Multi-vehicle incident.,2018-12-31 18:42:53,12/31/2018 06:43:50 PM,SE,-113.956571,51.049133,"(51.049133273898, -113.956570563768)",1.0,2018123118425351.049133273898-113.956570563768,NaN,NaN,NaN
7635,Southbound Crowchild Trail at Kensington Road NW,Two vehicle incident. Blocking multiple lanes,2018-12-31 17:59:28,12/31/2018 06:16:01 PM,NW,-114.118501,51.052492,"(51.052492333505, -114.11850138363)",1.0,2018123117592851.0524923335053-114.11850138363,NaN,NaN,NaN
7636,Westbound 16 Avenue approaching Deerfoot Trail NE,Two vehicle incident. Blocking the left lane.,2018-12-31 17:47:41,12/31/2018 05:49:08 PM,NE,-114.020057,51.067053,"(51.067052792253, -114.020056658954)",1.0,2018123117474151.0670527922526-114.020056658954,NaN,NaN,NaN
7637,Northbound Heritage Meadows Road approaching H...,Two vehicle incident.,2018-12-31 16:37:53,12/31/2018 04:39:10 PM,SE,-114.029320,50.986654,"(50.986653605808, -114.029319851444)",1.0,2018123116375350.9866536058081-114.029319851444,NaN,NaN,NaN
7638,Southbound 36 Street and 16 Avenue NE,Multi-vehicle incident.,2018-12-31 15:34:01,12/31/2018 03:35:24 PM,NE,-113.981905,51.067929,"(51.06792897864, -113.981905063899)",1.0,2018123115340151.0679289786397-113.981905063899,NaN,NaN,NaN
7639,Southbound 36 Street and 16 Avenue NE,Multi-vehicle incident. Blocking the left lane.,2018-12-31 15:34:01,12/31/2018 03:43:20 PM,NE,-113.989219,51.067086,"(51.067085659443, -113.989219053116)",1.0,2018123115340151.0670856594428-113.989219053116,NaN,NaN,NaN
7640,Southbound 26 Street approaching 34 Avenue SE,Two vehicle incident.,2018-12-31 15:12:52,12/31/2018 03:35:24 PM,SE,-113.999025,51.023142,"(51.023141643356, -113.999024741187)",1.0,2018123115125251.0231416433557-113.999024741187,NaN,NaN,NaN
7641,Northbound Deerfoot Trail exit ramp to 32 Aven...,Multi-vehicle incident.,2018-12-31 14:01:41,12/31/2018 02:36:04 PM,NE,-114.031250,51.079706,"(51.079706469526, -114.031250174806)",1.0,2018123114014151.0797064695259-114.031250174806,NaN,NaN,NaN